body{
    box-sizing: 100vh;
}

header {
    background-color: blue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    border-bottom: 10px;
}

#weather1 {
    flex-direction: column;
    float: right;
    width: 600px;
    height: 300px;
    border: 1px solid gray;
}
#citySearch {
    width: 320px;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}
#searchBtn {
    width: 300px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 10px solid white;
    border-top: 5px solid white;
    
}

img {
    width: 30px;
    height: 30px;
}

#clear-history {
    
    width: 300px;
    height: 30px;
    font-size: 14px;
    text-align: center;
}

#cityBtns {
    width: 300px;
    padding-left: 20px;
}

#search-tools{
    float: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

#weather-main {
    padding-top: 20px;
    float: right;
    width: 1000px;
    padding-right: 70px;
    flex-direction:column;
}