body{
    box-sizing: 100vh;
}

header {
    background-color: navy;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    border-bottom: 10px;
    color: whitesmoke;
    text-align: center;
}

#weather1 {
    flex-direction: column;
    float: right;
    width: 600px;
    height: 300px;
    border: 1px solid gray;
}
#citySearch {
    width: 320px;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}
#searchBtn {
    width: 300px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 10px solid white;
    border-top: 5px solid white;
    
}

#user-location {
    width: 300px;
    border-top: 2px solid white;
    border-bottom: 10px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    
}

#icon-image {
    color: transparent;
}

img {
    width: 40px;
    height: 40px;
}

#clear-history {
    
    width: 300px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    display: flex;
    /* border-left: 20px solid white; */
    padding-left: 20px;
    /* border-bottom: 10px solid white; */
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}

.btn-group {
    border-top: 50px solid white;
    padding-top: 50px;
}

#cityBtns {
    width: 300px;
    padding-left: 20px;
}

#search-tools{
    float: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

#weather-main {
    padding-top: 20px;
    float: right;
    width: 1000px;
    height: 630px;
    padding-right: 70px;
    flex-direction:column;
}

.card {
    background-color: navy;
    color: whitesmoke;
}

#intro {
    text-align: center;

}

#display-weather {
    display: none;
    text-align: center;
}

#first-card {
    text-align: left;
    font-size: 18px;
}