header {
    background-color: blue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#weather1 {
    flex-direction: column;
    float: right;
    width: 600px;
    height: 300px;
    border: 1px solid gray;
}

container {
    float: right;
    width: 1000px;
    padding-right: 50px;
}