/* adds sizing to body */
body{
    box-sizing: 100vh;
}

/* assigns color, font & its size and alignment,  */
header {
    background-color: navy;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    border-bottom: 10px;
    color: whitesmoke;
    text-align: center;
}

/* adds styling to weather section of page */
#weather1 {
    flex-direction: column;
    float: right;
    width: 600px;
    height: 300px;
    border: 1px solid gray;
}

/* adds sizing parameters to search section of page */
#citySearch {
    width: 320px;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

/* adds sizing parameters to the search button */
#searchBtn {
    width: 300px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 10px solid white;
    border-top: 5px solid white;
    
}

/* adds sizing parameters to the user location button */
#user-location {
    width: 300px;
    border-top: 2px solid white;
    border-bottom: 10px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    
}


/* sets the size of all weather icons */
img {
    width: 50px;
    height: 50px;
}

/* sets sizing and alignments in clear history button */
#clear-history {
    width: 300px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    display: flex;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}

/* styling major city buttons groups borders */
.btn-group {
    border-top: 50px solid white;
    padding-top: 50px;
}

/* adds sizing to major city buttons */
#cityBtns {
    width: 300px;
    padding-left: 20px;
}

/* positions all of the search tools to the left of the page and addresses their alignment */
#search-tools{
    float: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

/* sets sizing for the main weather display */
#weather-main {
    padding-top: 20px;
    float: right;
    width: 1000px;
    height: 630px;
    padding-right: 70px;
    flex-direction:column;
}

/* sets all cards bg color and font color */
.card {
    background-color: navy;
    color: whitesmoke;
}

/* aligns the intro sections to have font centered */
#intro {
    text-align: center;
}

/* hides the weather generator from page when first loaded in order to display the intro as the placeholder */
#display-weather {
    display: none;
    text-align: center;
}

/* positions text in first weather card to the left; all other cards text are centered */
#first-card {
    text-align: left;
    font-size: 18px;
}

@media only screen and (max-width:390px) {
    #search-tools{
        flex-wrap: wrap;
    }

    #display-weather {
        flex-wrap: wrap;
    }
}